{% extends "base.html" %}
{% block title %} Пользовательское соглашение {% endblock title %}

 {% block content%}
     <h2>Пользовательское соглашение</h2>

        <div class="content-text">
        Раздел в процессе обновления.
{#            ЕСЛИ ВЫ СКАЧИВАЕТЕ, ЗАГРУЖАЕТЕ, КОПИРУЕТЕ ЛИБО ЛЮБЫМ ИНЫМ ОБРАЗОМ ИСПОЛЬЗУЕТЕ ИГРЫ#}
{#            WARGAMING ИЛИ ИХ ЧАСТЬ И (ИЛИ) НАЧИНАЕТЕ УЧАСТВОВАТЬ В ИГРОВОМ ПРОЦЕССЕ ДАННЫХ ИГР, ТО ЭТИМ ВЫ#}
{#            ПОДТВЕРЖДАЕТЕ, ЧТО ПОЛНОСТЬЮ ПРОЧИТАЛИ, ПОНЯЛИ, СОГЛАСНЫ И ПРИНИМАЕТЕ НИЖЕИЗЛОЖЕННОЕ ПОЛЬЗОВАТЕЛЬСКОЕ#}
{#            СОГЛАШЕНИЕ, ОБЯЗУЕТЕСЬ ЕГО СОБЛЮДАТЬ И НЕСТИ ОТВЕТСТВЕННОСТЬ ЗА ЕГО НАРУШЕНИЕ.#}
{##}
{#            УСЛОВИЯ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ И КЛЮЧЕВЫХ ДОКУМЕНТОВ (ПУНКТ 2.1 НИЖЕ) ЯВЛЯЮТСЯ СУЩЕСТВЕННЫМИ И#}
{#            ОБЯЗАТЕЛЬНЫМИ ДЛЯ ИСПОЛНЕНИЯ.#}
{##}
{#            Настоящее пользовательское соглашение («Соглашение») регулирует отношения между компанией Wargaming Group#}
{#            Limited, зарегистрированной по адресу Agion Omologiton Avenue, 105, Никосия, 1080, Кипр, а также компанией#}
{#            Wargaming World Limited, зарегистрированной по адресу Agion Omologiton Avenue, 105, Никосия, 1080, Кипр, в#}
{#            части игр на платформе Microsoft Xbox (далее по тексту «Wargaming») и вами — конечным пользователем одной из#}
{#            следующих игр: WORLD OF TANKS, WORLD OF WARPLANES, WORLD OF WARSHIPS, WORLD OF TANKS на Xbox 360 и Xbox One,#}
{#            WORLD OF TANKS GENERALS, WORLD OF TANKS BLITZ («Пользователь»), далее по отдельности именуемые «Сторона», а#}
{#            совместно — «Стороны».#}
        </div>
 {% endblock %}