{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Пользовательское соглашение" %} {% endblock title %}

 {% block content%}
     <h2>{% trans "Пользовательское соглашение" %}</h2>

        <div class="content-text">
        ТОВ «Джі Ті Ем» адресує особам, що мають повну вищу освіту у медичній галузі, дану оферту у якості пропозиції укласти Договір про користування інформаційною базою даних фізичним особам, які бажають мати доступ до додатку e-MR.
<ol>
    <li>За Договором про користування інформаційною базою даних (далі – Договір) фахівець у сфері охорони здоров’я (далі – Фахівець) отримує доступ до інформації про лікарські засоби та інші медичні препарати, яку адмініструє ТОВ «Джі Ті Ем». Вказану інформацію Фахівець може використовувати для здобуття нових професійних знань, підвищення своєї професійної кваліфікації а також у будь-який не заборонений законодавством України спосіб в ході своєї професійної діяльності.</li>
<li>Користування вказаним додатком та одержання інформації з нього є безкоштовним.</li>
<li>Уклавши відповідний договір, Фахівець за своїм бажанням може бути залученим у якості учасника виявлення громадської думки з приводу нових медичних препаратів, їх ефективності, доступності та поширення в аптеках та закладах охорони здоров’я, досвіду їх призначення пацієнтам тощо. За участь у вказаних опитуваннях ТОВ «Джі Ті Ем» сплачуватиме на користь Фахівців винагороду, розмір та порядок виплати якої буде зазначено у відповідному розділі такого опитування.</li>
<li>Винагорода за участь у опитуваннях сплачується виключно шляхом безготівкового переказу на банківську картку Фахівця. Всі податки, збори та відрахування з таких виплат здійснює ТОВ «Джі Ті Ем». За зверненням Фахівця, ТОВ «Джі Ті Ем» може надати допомогу щодо оформлення банківської картки Фахівцю. Вказана послуга є безкоштовною.
</li><li>Для участі в роботі додатку e-MR, а також для участі в оплачуваних опитуваннях, Фахівцеві слід акцептувати вказану оферту, шляхом проставляння відповідної відмітки на цій сторінці, а також укласти письмовий Договір.</li>
</ol>
            <h3>Визначення</h3>
<ol>
    <li>Система e-MR - база даних про лікарські засоби та інші медичні препарати, які пропонуються до продажу в Україні або, які перебувають на стадії розробки.</li>
<li>Фахівець у сфері охорони здоров’я – особа, яка здобула вищу медичну чи фармацевтичну освіту, якій присвоєно передбачену законодавством кваліфікацію в сфері охорони здоров’я та, яка працює за визначеною законодавством лікарською чи фармацевтичною спеціальностю.</li>
<li>Представник - фізична особа, уповноважена відповідною довіреністю, виданою
ТОВ «Джі Ті Ем».</li>
<li>Унікальне ім’я (логін) - символьний код, який використовується для роботи з системою. Надається користувачу один раз при підключенні до системи, є унікальним для кожного користувача та зберігається за ним на весь час.</li>
<li>Програмне забезпечення – комп’ютерна програма e-MR призначена для пошуку, перегляду та виводу інформації в базах даних. Програма e-MR працює в режимі клієнт-сервер.</li>
</ol>
        </div>
 {% endblock %}