{% extends "website_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}


{% block home_link %} <a href="/{{ LANGUAGE_CODE }}/"  class="smoothScroll">
    {% trans "Начало" %} </a> {% endblock %}
{% block about_link %} <a href="/{{ LANGUAGE_CODE }}/#about"  class="smoothScroll">
    {% trans "О компании" %}</a> {% endblock %}
{% block services_link %} <a href="/{{ LANGUAGE_CODE }}/#services"  class="smoothScroll">
    {% trans "Проекты" %}</a> {% endblock %}
{% block contact_link %} <a href="/{{ LANGUAGE_CODE }}/#contact"  class="smoothScroll">
    {% trans "Контакты" %}</a> {% endblock %}

{% block content %}
<div class="company-news">
{% block company_news %}
    <h2>{% trans "Новости компании" %}</h2>
    {% if object_list %}
        <div class="news">{% for new in object_list %}
            <div class="news-block content-text">
                <p style="font-weight: bold">{{ new.date }}</p>
                {{ new.text }} <br>
            </div>
        {% endfor %}</div>
    {% endif %}
    </div>
    {% endblock company_news %}

{% endblock content %}