
{% extends "website_base.html" %}
{% load staticfiles %}
{% load rest_framework %}
{% load i18n %}
{% block content %}
<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <header class="clearfix">
{#      <img alt="GTM" src={% static "img/Logo_RGB3.png" %}>#}
      <img alt="GTM" class="big-img" src={% static "img/GTM_RGB.png" %}>
      <h1 class="main-slogan">{% trans "Интерактивные коммуникации" %} <br>
          {% trans "в фармацевтике и здравоохранении" %}</h1>
{# <p>Lorem ipsum dolor sit amet, cu menandri molestiae voluptaria eam,<br>#}
{#      invidunt reprehendunt nec ei. Sonet regione consulatu vel id.</p>#}
{#    <a href="#portfolio" class="smoothScroll btn btn-lg">See Our Works</a> #}
  </header>
</div>
<!-- /headerwrap --> 

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <h2 class="centered">{% trans "О компании" %}</h2>
      <hr>
      <div class="col-md-6"> <img class="img-responsive" id="about-img" align="" src={% static "img/tech.jpg" %}> </div>
      <div class="col-md-6">
        <h3>{% trans "Наша компания" %}</h3>
        <p>{% trans "Целью компания GTM (Go To Marketing) является создание эффективных интерактивных коммуникаций между специалистами в области фармацевтики и здравоохранения. Мы создаем необходимые условия для того, чтобы информация, получаемая специалистами, была не только достоверной, полезной и релевантной, но и удобной в получении, использовании и хранении. Оценка специалистами здравоохранения качества информации, которая проходит в режиме реального времени, по не искажающим коммуникативным каналам, позволяет создавать продукт, который будет точно соответствовать ожиданиям медицинского сообщества." %}</p>
        <h3>{% trans "Наши ценности" %}</h3>
        <p>{% trans "Решения, которые мы предлагаем основаны на прозрачности, честности, достоверности и уважении к людям. Мы уверенны, что улучшая коммуникаций между специалистами в фармацевтике и здравоохранении, мы вносим свой вклад в достижении конечной цели – улучшение и сохранение здоровья каждого человека.  " %}
        </p>
          <h3>{% trans "Наши сотрудники" %}</h3>
        <p>{% trans "Мы хотим, чтобы цели и ценности наших сотрудников и компании совпадали. Мы расцениваем своих сотрудников как партнеров и создаем условия, для максимальной реализации и достижении целей. Уважение к личности – основополагающий принцип во взаимоотношениях с нашими сотрудниками." %}
          </p>
      </div>
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 

<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered"></h2>
              <img alt="e-MR" class="big-img" src={% static "img/Logo_RGB3.png" %}>

      <hr>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="large">{% trans "Программный комплекс e-MR (electronic – Medical Representative) является оригинальной разработкой компании GTM и призван повысить уровень коммуникации между специалистами в области фармацевтики и здравоохранения." %}
</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-desktop fa-3x"></i>
        <h3>e-MR</h3>
        <p>{% trans "проводит презентацию, задает вопросы, анализирует ответы и изменяет информационные сообщения в зависимости от потребностей специалиста." %}
</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-gears fa-3x"></i>
        <h3>e-MR</h3>
        <p>{% trans "готов в удобное время рассказать о новых препаратах, методах лечения, исследованиях, которые могут представлять интерес для специалиста." %}
</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-dot-circle-o fa-3x"></i>
        <h3>e-MR</h3>
        <p>{% trans "анализирует ответы и пожелания специалистов здравоохранения, что позволяет создавать максимально полезные информационно-аналитические блоки." %}
</p>
      </div>
    </div>
      <div>
          <a
              href="https://play.google.com/store/apps/details?id=com.elasticbeanstalk.gtm_app.gtm#details-reviews&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              target="_blank" class="app-button"><img  class="app-button" alt="Get it on Google Play"
                                   src="https://play.google.com/intl/en_us/badges/images/generic/ru-play-badge.png"/></a>
          <a href="https://itunes.apple.com/ru/app/gtm-e-mr/id1092957540?mt=8"
          target="_blank"><img alt="Get it on App Store"  class="app-button" src={% static "img/appstore.svg" %} /></a></div>    <!-- row -->
  </div>
</div>
<!-- container --> 

<!-- ==== TEAM MEMBERS ==== -->
{#<div id="team" name="team">#}
{#  <div class="container">#}
{#    <div class="row centered">#}
{#      <h2 class="centered">Наши сотрудники</h2>#}
{#      <hr>#}
{#      <div class="col-lg-3 centered"> <img class="img img-circle" src="img/team/team01.jpg" height="120px" width="120px" alt="">#}
{#        <h4><strong>Jessica</strong></h4>#}
{#        <p>Albucius consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>#}
{#        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>#}
{#      <div class="col-lg-3 centered"> <img class="img img-circle" src="img/team/team02.jpg" height="120px" width="120px" alt="">#}
{#        <h4><b>Mike</b></h4>#}
{#        <p>Albucius consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>#}
{#        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>#}
{#      <div class="col-lg-3 centered"> <img class="img img-circle" src="img/team/team03.jpg" height="120px" width="120px" alt="">#}
{#        <h4><b>Michele</b></h4>#}
{#        <p>Albucius consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>#}
{#        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>#}
{#      <div class="col-lg-3 centered"> <img class="img img-circle" src="img/team/team04.jpg" height="120px" width="120px" alt="">#}
{#        <h4><b>Larry</b></h4>#}
{#        <p>Albucius consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>#}
{#        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> </div>#}
{#        <div class="team">#}
{#            <img id="team-photo" alt="Наша команда" src={% static "img/doctors.jpg" %} >#}
{#        </div>#}
{#        <div class="col-lg-8 col-lg-offset-2 centered">#}
{#        <p class="large">Мы хотим, чтобы цели и ценности наших сотрудников и компании совпадали. Мы расцениваем своих сотрудников как партнеров и создаем условия, для максимальной реализации и достижении целей. Уважение к личности – основополагающий принцип во взаимоотношениях с нашими сотрудниками.</p>#}
{##}
{#    </div>#}
{#    </div>#}
{#  </div>#}
{#  <!-- row --> #}
{#</div>#}
<!-- container --> 

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">{% trans "Контакты" %}</h2>
      <hr>
      <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
        <p>{% trans "проспект Победы 123" %}<br>
            {% trans "г.Киев, Украина, 03179" %}
        </p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>office@gtm.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> {% trans "МТС" %} +38 066-550-88-13 <br>
{% trans "Киевстар" %} +38 068-678-30-38<br>
Lifecell +38 073-037-11-96 </p>
      </div>
    </div>
{#    <div class="row">#}
{#      <div class="col-lg-8 col-lg-offset-2 centered">#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>#}
{#        <form name="sentMessage" id="contactForm" class="form" novalidate="">#}
{#          <div class="row">#}
{#            <div class="col-xs-6 col-md-6 form-group">#}
{#              <input type="text" id="name" class="form-control" placeholder="Ваше имя" required="required">#}
{#              <p class="help-block text-danger"></p>#}
{#            </div>#}
{#            <div class="col-xs-6 col-md-6 form-group">#}
{#              <input type="email" id="email" class="form-control" placeholder="Почта" required="required">#}
{#              <p class="help-block text-danger"></p>#}
{#            </div>#}
{#          </div>#}
{#          <div class="form-group">#}
{#            <textarea name="message" id="message" class="form-control" rows="5" placeholder="Сообщение" required=""></textarea>#}
{#            <p class="help-block text-danger"></p>#}
{#          </div>#}
{#          <div id="success"></div>#}
{#          <button class="btn btn btn-lg" type="submit">Send Message</button>#}
{#        </form>#}
{#        <!-- form --> #}
{#      </div>#}
{#    </div>#}
    <!-- row --> 
    
  </div>
</div>
<!-- container -->

{% endblock content %}

