{% extends "base.html" %}
{% load i18n %}
{% block title %} GTM {% endblock title %}
{% get_current_language as LANGUAGE_CODE %}


    {% block content %}
    <div class="menu">
   <ol class="rounded">
       <li>             <h1><a href="/{{ LANGUAGE_CODE }}/about/">
           {% trans "О компании" %}</a></h1>

       </li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/news/">
           {% trans "Новости" %}</a></h1>
</li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/contact/">
           {% trans "Контакты" %}</a></h1>
</li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/medicine-search/">
           {% trans "Поиск препаратов" %}</a></h1>
</li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/agreement/">
           {% trans "Пользовательское соглашение" %}</a></h1>
</li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/exchange/">
           {% trans "Счёт" %}</a></h1>
</li>
   </ol>
    </div>

{% endblock content %}




{#{% endblock content %}#}