{% extends "base.html" %}
{% block title %}
GTM - Домашняя страница
{% endblock title %}
{% block content %}
    <div class="menu">
        <div class="menu-item">
            <h1><a href="/text-polls/">Тексты</a></h1>
        </div>
        <div class="menu-item">
            <h1><a href="/polls/">Опросы</a></h1>
        </div>
        <div class="menu-item">
            <h1><a href="/history/">История</a></h1>
        </div>
        <div class="menu-item">
            <h1><a href="/exchange/">Обмен баллов</a></h1>
        </div>
        <div class="menu-item">
            <h1><a href="/about/">О компании</a></h1>
        </div>
    </div>
{% endblock content %}