{% extends "base.html" %}
{% block title %}
GTM - Домашняя страница
{% endblock title %}
{% block content %}
    <div class="menu">
   <ol class="rounded">
       <li>             <h1><a href="/text-polls/">Медицинская информация</a></h1>

       </li>
       <li>            <h1><a href="/polls/">Аналитика</a></h1>
</li>
       <li>            <h1><a href="/history/">История</a></h1>
</li>
{#       <li>            <h1><a href="/exchange/">Обмен баллов</a></h1>#}
{#</li>#}
       <li>            <h1><a href="/gtm/">GTM</a></h1>
</li>
   </ol>
    </div>
{% endblock content %}