{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
e-MR - {% trans "Домашняя страница" %}
{% endblock title %}
{% block content %}
    <div class="menu">
   <ol class="rounded">
       <li>             <h1><a href="/{{ LANGUAGE_CODE }}/text-polls/">{% trans "Медицинская информация" %}</a></h1>

       </li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/polls/">{% trans "Аналитика" %}</a></h1>
</li>
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/history/">{% trans "История" %}</a></h1>
</li>
{#       <li>            <h1><a href="/exchange/">Обмен баллов</a></h1>#}
{#</li>#}
       <li>            <h1><a href="/{{ LANGUAGE_CODE }}/gtm/">GTM</a></h1>
</li>
   </ol>
    </div>
{% endblock content %}