{% extends 'base.html' %}
{% block content %}
    {% block title %}
{{ title }}
{% endblock title %}
    {{ text }}
    {{ question }}
    {% if question %}
        <br>
        <form action="" method="post">
        {% csrf_token %}
{#            <input type="hidden" name="question" value={{ question.id }}/ >#}
        {% for answer in answers %}
            <div class="radio-choice"><input type="radio" name="choice" value={{ answer.id }}>{{ answer.answer_text }}
                <br></div>
            {% if 'Другое' in answer.answer_text or 'Ответ пользователя' in answer.answer_text or 'другое' in answer.answer_text%}
                <div class="ui-widget">
                    <label for="user-answer"></label>
                    <input id="user-answer" name="user-answer">
                </div>
{#                {{ form }}#}
{#                <input type="text" name="user-answer">#}
            {% endif %}
        {% endfor %}
        <button type="submit" name="answer">{{ button }}</button>
        </form>
    {% else %}

        <form action="" method="post">
        {% csrf_token %}
            <button name="instruction">Посмотреть инструкцию</button>
            <button name={{ button_name }} >{{ button }}</button>
        </form>
    {% endif %}


{% endblock content %}